<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/main">

<body th:with="currentPage = setNewPassword">

	<div class="row" layout:fragment="content">
		<div class="col-md-6 col-md-offset-3">
			<div class="well">
				<h1 th:text="#{resetpassword.form.title}">Reset Password</h1>
				<hr/>
				
				<div th:if="${passwordChanged == true}" class="alert alert-success alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">x</span>
					</button>
					<p th:text="#{resetpassword.success.message}">Password successfully changed!</p>
				</div>
								
				<!-- Reset Password Form -->
				<form class="text-left" th:action="@{/changepassword}" th:object="${passwordForm}" method="post">
					<input type="hidden" th:field="*{userId}"/>

					<!--/* Password */-->
					<div class="form-group" th:classappend="${#fields.hasErrors('password')}? has-error">
						<label class="control-label" th:text="#{resetpassword.label.password}">Password:</label>
						<input type="password"  class="form-control" th:field="*{password}"/>
						<div th:if="${#fields.hasErrors('password')}" class="help-block">
							<ul>
								<li th:errors="*{password}"></li>
							</ul>
						</div>
					</div>
					
					<!--/* Password Confirmation */-->
					<div class="form-group" th:classappend="${#fields.hasErrors('matchingPassword')}? has-error">
						<label class="control-label" th:text="#{resetpassword.label.passwordconfirm}">Password Confirm:</label>
						<input type="password"  class="form-control" th:field="*{matchingPassword}"/>
						<div th:if="${#fields.hasErrors('matchingPassword')}" class="help-block">
							<ul>
								<li th:errors="*{matchingPassword}"></li>
							</ul>
						</div>
					</div>
					
					<div class="form-group">
						<button type="submit" th:text="#{resetpassword.button.submit}" class="btn btn-primary">Set New Password</button>
					</div>
				</form>
			</div>
		</div>
	</div>
			
</body>

</html>