<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main">

<body th:with="currentPage = login">

    <div class="row" layout:fragment="content">
        <div class="col-md-6 col-md-offset-3">
        	<div class="well">
        	
	            <h2 th:text="#{login.form.title}">Login</h2>
	            <hr/>	            
	            <!--/* Contact Form */-->
                <form class="text-left" th:action="@{/login}" method="post">
                
                	<!--/* Error Message */-->
                    <div th:if="${param.error}" class="alert alert-danger">
                        <p th:text="#{login.invalid.message}">Invalid email and password.</p>
                    </div>
                    
                    <!--/* Logged Out message */-->
                    <div th:if="${param.logout}" class="alert alert-success">
                        <p th:text="#{login.loggedout.message}">You've been logged out.</p>
                    </div>
                    
                    <!--/* Email */-->
                    <div class="form-group" th:class="${param.error} ? 'form-group has-error' : 'form-group'">
                        <label for="username" class="control-label" th:text="#{login.label.email}">Email:</label>
                        <input id="username" type="email" class="form-control" name="username"/>
                    </div>
                    
                    <!--/* Password */-->
                    <div class="form-group" th:class="${param.error} ? 'form-group has-error' : 'form-group'">
                        <label for="password" class="control-label" th:text="#{login.label.password}">Password:</label>
                        <input id="password" type="password"  class="form-control" name="password"/>
                    </div>

                    <button type="submit" class="btn btn-primary" th:text="#{login.button.submit}">Login</button>
                </form>
                
            </div>
        </div>
    </div>

</body>
</html>